@inherits ServiceStack.Razor.ViewPage
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
  <body>
    <h1>This is a web site!</h1>

    @RenderBody()

    <div>
      <small>
        This is the footer.
      </small>
    </div>
  </body>
</html>
