@inherits ServiceStack.Razor.ViewPage
@{
  
  var pageTitle = "Vertesaur";
  if (!String.IsNullOrWhiteSpace(ViewBag.Title)) {
    pageTitle = pageTitle + ": " + ViewBag.Title;
  }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@pageTitle</title>
</head>
<body>
  <header>
    <h1>Vertesaur</h1>
    @if (!String.IsNullOrWhiteSpace(ViewBag.SubTitle)) {
      <div>@ViewBag.SubTitle</div>
    }
  </header>
  @RenderBody()

  <footer>
    <small>Footer area, probably best to use as a pile of links or to ommit entirely.
    </small>
  </footer>
</body>
</html>
