@inherits ServiceStack.Razor.ViewPage
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
  <body>
    <h1>General Site Template Title</h1>

    @RenderBody()

    <div>
      <small>
        Footer area, probably best to use as a pile of links or to ommit entirely.
      </small>
    </div>
  </body>
</html>
