@using DandyDoc.CodeDoc
@inherits ServiceStack.Razor.ViewPage<CodeDocMethod>
@{
  Layout = "_ApiDocsLayout";
  if (Model.HasGenericParameters) {
    <section>
      <h2>Generic Parameters</h2>
      @{ Html.Partial("PartialCodeDocGenericParameterList", Model.GenericParameters); }
    </section>
  }
  Html.Partial("PartialCodeDocInvokable", Model);
}
