@using DandyDoc.CodeDoc
@using Vertesaur.Site
@inherits ServiceStack.Razor.ViewPage<CodeDocEvent>
@{
  Layout = "_ApiDocsLayout";
}
<section>
  <dl>
    <dt>Delegate Type</dt>
    <dd>@this.ActionLinkFull(Model.DelegateType)</dd>
  </dl>
</section>

