@using DandyDoc.CodeDoc
@using Vertesaur.Site
@inherits ServiceStack.Razor.ViewPage<IEnumerable<ICodeDocMember>>
<ul>
  @foreach (var namespaceModel in Model) {
    <li>@this.ActionLink(namespaceModel)</li>
  }
</ul>