@using DandyDoc.CodeDoc
@using Vertesaur.Site
@inherits ServiceStack.Razor.ViewPage<IEnumerable<ICodeDocMember>>
<ul class="unstyled">
  @foreach (var namespaceModel in Model) {
    <li>@(this.ActionLink(namespaceModel))</li>
  }
</ul>