@inherits ServiceStack.Razor.ViewPage
@{Layout = String.Empty;}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vertesaur</title>
</head>
  <body>
    
    <h1>Vertesaur</h1>
    <p>
      A computational geometry and math library for the CLR with potential medical, gaming, and GIS uses.
    </p>
    


  </body>
</html>
