@inherits ServiceStack.Razor.ViewPage
@{Layout = "_SiteLayout";}

<div id="contentContainer">
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <p class="lead">
                    A computational geometry and math library for the CLR with potential medical, gaming, and GIS uses.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span6 center">
                <a class="btn btn-primary btn-large" href="https://nuget.org/packages/Vertesaur.Core/">Get Vertesaur!</a>
            </div>
            <div class="span6 center">
                <a class="btn btn-primary btn-large" href="@Url.Content("~/docs/Getting-Started")">Get Started</a>
            </div>
        </div>
    </div>
</div>

