<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DandyDoc.CodeDoc" version="0.5.4" targetFramework="net40" />
  <package id="DandyDoc.Core" version="0.5.4" targetFramework="net40" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net40" />
  <package id="Nuget.Core" version="2.6.0.1" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.56" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.56" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.56" targetFramework="net40" />
  <package id="ServiceStack.Razor" version="3.9.56" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.57" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.56" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
  <package id="Vertesaur.Core" version="0.13.0" targetFramework="net40" />
  <package id="Vertesaur.Generation" version="0.13.0" targetFramework="net40" />
</packages>