@using Vertesaur.Site
@inherits ServiceStack.Razor.ViewPage
@{
  Layout = "_DocsLayout";
  ViewBag.Title = "API Reference";
  ViewBag.TitleBarSubTitle = "All Namespaces";
  var codeDocRepositories = AppHost.TryResolve<CodeDocRepositories>();
}
<div class="container">
<div class="row">
<section class="span12">
  <h1>All Namespaces</h1>
  @if (codeDocRepositories == null) {
    <p>Code documentation is not available.</p>
  }
  else {
    Html.Partial("PartialCodeDocEntityList", codeDocRepositories.TargetRepository.Namespaces);
  }
</section>
</div>
</div>