@using Vertesaur.Site
@inherits ServiceStack.Razor.ViewPage
@{
  var codeDocRepositories = this.AppHost.TryResolve<CodeDocRepositories>();
}
<section>
  <h1>All Namespaces</h1>
  @if (codeDocRepositories == null) {
    <p>Code documentation is not available.</p>
  }
  else {
    <ul>
      @foreach (var namespaceModel in codeDocRepositories.TargetRepository.Namespaces) {
        <li>@this.ActionLink(namespaceModel)</li>
      }
    </ul>
  }
</section>
